<h1>About Us</h1>

<div class="container">
	<p>Under Construction</p>
</div>

<div class="container">
	<address>
	  <strong>Food for My Neighbors</strong><br>
	  123 Something Street<br>
	  SomewhereVille, MI 12345<br>
	  <abbr title="Phone">P:</abbr> (123) 456-7890
	</address>

	<address>
	  <strong>Debra Mersnick</strong><br>
	  <a href="mailto:#">first.last@example.com</a>
	</address>
</div>