<div class="container-full-bg" style="background-image:url('http://cf.ltkcdn.net/garden/images/slide/148994-849x565-lettuce-2.jpg');">
      <div class="container special">
        <div class="jumbotron"><center>
          <h2>About Us</h2>
          <p>A place to learn about what we are all about.</p></center>
        </div>
      </div>
 </div>

 <hr class="featurette-divider">



<div class="container-fluid">
<h1>What is Food for My Neighbors About?</h1>
<p>Welcome to a social platform geared towards learning how to live a more sustainable life that is in tune with the Earth's natural abundance.  This site is also for sharing all types of foods that build and grow our bodies, minds, and community.  We are all about food for thought, food for well-being, and food for our souls.

Take some time to browse the site and find #FoodIsFree locations, Farmer's markets, gardening tips/tricks, hand/homemade items, and permaculture ideas.  Our goal is to help our neighbors live a healthier, simpler, and more sustainable life.</p>
<p><center>GET OUT, SOCIALIZE WITH YOUR NEIGHBORS, AND PLANT!</p></center>
</div>

<div class="container-fluid">
	<h1>About My Family and Me</h1>
<p>Well, about me, I am a jack of all trades, but mostly I am looking for a more simple life than I've already lived.  This simpler life came in the form of backyard gardens and the dream of owning property that would produce food and income opportunities for ouselves, children, and neighbors.  This opportunity is becoming a reality as we are close to closing on a nearly 80 acre lot with wonderful home.  The Food for My Neighbors LLC land offers an appple orchard, ample garden space, hardwood maples for syrup or lumber.  The land houses three deer blinds on deer migration routes along with opportunity for hunting bear and fishing in the nearby Fox River.</p>

<p>This is truely the chance of a lifetime home for my family.  We have all worked hard, sacrificing for this moment.  We are truely blessed to be able to reap what we have sewn and share it with all of you.</p>

<p>What was the hecktic life before this, you wonder?  I am an educator at heart and was by trade for five years.  Although I do love to teach and open minds to the wonders of the world, I felt I needed a different platform in which to utillize my talents.  This website and my farm will be my new platform.  Next year my dear husband and I plan to have our farm partner with the schools in our area for a few educational field trips.  This is just in the planning stages, but wow, what an amazing asset organic education could be to our schools and community.</p>

<p>My family consists of my husband, our two young children, a future puppy, and myself.  Including all the bugs and animals in the world and imaganative world, that makes quite a few of us!</p>
</div>

<br><br>

<div class="container">
<h1>Contact Us</h1>
<p>Contact us by post, yup, snail mail...you know with the paper, pencil, envelope and that stamp/sticker thingy...  (Just a bit of humor)</p>
	<address>
	  <strong>Food for My Neighbors</strong><br>
	  28488 State Highway 28<br>
	  McMillan, MI 49853<br>
	  <abbr title="Phone">P:</abbr> (906) 293-5056
	</address>

<p>Contact us by email, if you are not into snail mail or you have just enough time to remember to put on pants before work. ...you did remember pants didn't you?</p>
	<address>
	  <strong>Debra Mersnick</strong><br>
	  <a href="mailto:#">foodformyneighbors@outlook.com</a>
	</address>
</div>