<h1>About Us</h1>

<div class="container">
	<p>****************Under Construction******************************</p>
</div>

<div class="container-fluid">
<p>Welcome to a social platform geared towards learning how to live a more sustainable life that is in tune with the Earth's nature abundance.  This site is also for sharing all types of foods that build and grow our bodies, minds, and community; food for thought, food for well-being, and food for our souls.

Take some time to browse the site and find #FoodIsFree locations, Farmer's markets, gardening tips/tricks, hand/homemade items, and permaculture ideas.  This site owner is participating in the #FoodIsFree campaign to help our neighbors live a healthier and more sustainable life.</p>
<p>GET OUT, SOCIALIZE WITH YOUR NEIGHBORS, AND PLANT!</p>
</div>

<div class="container">
	<address>
	  <strong>Food for My Neighbors</strong><br>
	  123 Something Street<br>
	  SomewhereVille, MI 12345<br>
	  <abbr title="Phone">P:</abbr> (123) 456-7890
	</address>

	<address>
	  <strong>Debra Mersnick</strong><br>
	  <a href="mailto:#">first.last@example.com</a>
	</address>
</div>