<h1>Building a Strong Community<h1>

	<p>Give us a post of what you are doing to beautify or help your community grow.  Big or small, all actions have postivie consequences and will help us succeed in a more happier and healthier life.</p>