<div class="container-full-bg" style="background-image:url('http://familiesunitedcm.com/wp-content/uploads/people_sunrise.jpg');">
      <div class="container special">
        <div class="jumbotron"><center>
          <h2>Community United</h2>
          <p>Take time to show how your comminity is coming alive with activities such as sharing, socializing, and working together on a small scale or community-wide.  Big or small, all positive actions have positive consequences that will help us succeed in living a happier and healthier life. Together.</p></center>
        </div>
      </div>
 </div>

 <hr class="featurette-divider">

<hr class="featurette-divider"> 

<div class="container">
<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Food for My Neighbors &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        
<FONT size=".2"><p> Images from: </p>
<li><a href="http://www.2ndacthealth.com/2011/">2ndacthealth.com</li>
</footer></FONT></div>
