<h1>Education</h1>

<p>The education of our members is very important to me.  I am, at heart, an educator.  I have had many gardens throughout my life and feel being one with nature is at our essential core.</p>
<p>In this section, you will find how-to's, links, articles, and various other resources to help you grow and make items.  Please feel free to browes the selections and return often, for education is the basis of change.</p>

<p>Please make sure all comments and posts are positive.  We strive to build and grow, not to infect and tear down.</p>