p#p01 {
  font-size:200%;
}

<div class="container-full-bg" style="background-image:url('http://www.healthylifestyledesign.org/wp-content/uploads/2014/07/Fresh-Fish-Neon-Sign-624x300.jpg');">
      <div class="container special">
        <div class="jumbotron"><center>
            <h2>Education</h2>
            <p id="p01"> The only way we will not repeat the same mistakes is through education and change.</p>
          </center>            
        </div>
      </div>
 </div>

   
 <hr class="featurette-divider">

<blockquote>
  <p>"Let us remember, always, that we are the consumers. By exercising free choice, by choosing what to buy, what not to buy, we have the power, collectively to change the ehtics of business of industry.  We have the potential to exert immense power for good-we each carry it with us, in our purses, checkbooks, and credit cards."</p>
  <footer>Jane Goodall, Reason for Hope</footer>
</blockquote>



 <hr class="featurette-divider">
     
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">GMO foods, Monsanto. Checkmate. <span class="text-muted">--The biggest threat towards Monsanto is an informed consumer!</span></h2>
          <p class="lead">There is compelling information out there folks that, quite frankly, scares the boll weevils away on their own...If you haven't watched Food Inc. now is your chance. There are many more documenaries you should watch that pertain to our food supply and how it affects you directly.</p>
         </div>
        <div class="col-md-5">
          <div class="su-youtube su-responsive-media-yes"><iframe width="400" height="300" src="https://www.youtube.com/embed/yh8c9OUti4c" frameborder="0" allowfullscreen></iframe>
          </div>   
        </div>
    </div><!-- end featurette 1 -->



    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Ron Finley <span class="text-muted">--'Growing your own food is like printing your own money.'</span></h2>
          <p class="lead">Plant food, not lawns.  What's that? Using what your momma-Earth gave ya, that's what.</p> <p>*Note for Teacher's: At the end of the video Ron says "Plant some ****" and it is displayed on the screen.*</p>
          <p>Sites for you: <li>http://ronfinley.com/</li>
          <li>guerrillagardening.org</li>
          <li>TedTalks.com</li></p> 
        </div>
          <div class="col-md-5 col-md-pull-7">
            <div class="su-youtube su-responsive-media-yes"><iframe width="400" height="300" src="https://www.youtube.com/embed/EzZzZ_qpZ4w" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </div><!-- end featurette 2 -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Wicking Beds <span class="text-muted">--They'll blow your mind, not your budget.</span></h2>
          <p class="lead">Just water every 2 to 4 weeks! No, no, no....it must be a typo.  You have to see this any-type-of-container gardening to get your gardening on!</p>
        </div>
        <div class="col-md-5">
          <div class="su-youtube su-responsive-media-yes"><iframe width="400" height="300" src="http://www.youtube.com/embed/wiNoxeA2sD8" frameborder="0" allowfullscreen="true"></iframe>
          </div>
        </div>
    </div><!-- end featurette 3 -->

       
    <hr class="featurette-divider">


    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">To Your Health! <span class="text-muted">--What can you do to improve your health? Here are 10 things!</span></h2>
          <p class="lead">Take a look at Dr. Mercola's website.  He was once a practicing doctor, but then embraced natural medicine after conventional models were failing to help people.</p>
          <p>Visit his site for more information: 
          <p><iframe src='http://media.mercola.com/assets/html/mercola/citation.htm' scrolling='no' noresize='noresize' frameborder='0' allowTransparency='true' width='570' height='185'></iframe></p>
        </div>
          <div class="col-md-5 col-md-pull-6">
            <img class="featurette-image img-responsive center-block" data-src="http://www.mercola.com" _fcksavedurl="http://www.mercola.com" target="_blank"><img src="http://www.mercola.com/banners/JosephMercolaBanner-300x250.gif" _fcksavedurl="http://www.mercola.com/banners/JosephMercolaBanner-300x250.gif" border="0" /></a>"</img>
          </div>
    </div><!-- end featurette 4 -->


<hr class="featurette-divider"> 
    <!-- <img class="featurette-image img-responsive center-block" data-src="https://s-media-cache-ak0.pinimg.com/736x/0d/bb/60/0dbb605fa126cc5ad095416e98585123.jpg" alt="Generic placeholder image"
           
    https://lh3.googleusercontent.com/eho9Y4a5HQTrkdDfDoZs8r2sTpNbnCy_-9AKmoRQHLKdtg7QX6onLX57cP4wuCru2wSTSAPwqiO7zYy_T6aIw8G__7EH4w3BIQfQ3MNiMnjymjKu8eNVMuiv

    https://pbs.twimg.com/media/Bl9R5oZIEAAFUPQ.jpg:large>-->
<hr class="featurette-divider">  
<hr class="featurette-divider">  

<!---Start BLOG Postings -->
<div class="container">
  <div class="row">

   <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <h2 class="blog-post-title">Better Butter</h2>
        <p class="blog-post-meta">April 9, 2015 by Debra Mersnick</p>
            <p><strong>The education of our members is very important to me.</strong> I am, at heart, an educator.  I have had many gardens throughout my life and feel being one with nature is at our essential core.</span></p>
            <p>In this section, you will find how-to's, links, articles, and various other resources to help you grow and make items.  Please feel free to browes the selections and return often, for education is the basis of change.</p>

            <p>Please make sure all comments and posts are positive.  We strive to build and grow, not to infect and tear down.</p>
      
            <hr>
            <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
           
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
          </div><!-- /.blog-post -->
</div>

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-0 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Growing up, the pantry was a place to find all sorts of goodies, well, unless your family also had a crawlspace where other goodies were kept, then you'd look there.  Regardless, you can look here to find various goods and services offered by good folks in good faith.</p>

            <p>The Pantry is a place to buy and sell products that are grown, made, harvested, and treated with care and love.</p>

            <p>Please read and understand all policies and rules before selling and buying.  It is imparative that all transactions be transparent and handled with the most care possible.  If a problem should result, please notify the parties involved and everyone will try their best to allieviate the issue in a fair and reasonable manner.
          </div>
          <div class="sidebar-module">
            <h4>Sites to Explore!</h4>
            <ol class="list-unstyled">
              <li>Seed Sites</li>
              <li><a href="www.rareseeds.com">Rare Seeds</a></li>
              <li><a href="www.saltspringseeds.com">Salt Spring Seeds</a></li>
              <li><a href="www.theseedbank.net">The Seed Bank</a></li>
              <li><a href="www.seedsavers.org">Seed Savers</a></li>
              <li><a href="www.heirloomseeds.com">Heirloom Seeds</a></li><p></p>
              <li>Permaculture/Gardening with Style</li>
              <li><a href="www.permaculture.co.uk">Permaculture Magazine</a></li>
              <li><a href="www.foodisfree.com">Food is Free</a></li><p></p>
              <li>DIY</li>
              <li><a href="www.rootedblessings.com">Rooted Blessings</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Other Tidbits</h4>
            <ol class="list-unstyled">
              <li><a href="www.github.com">GitHub</a></li>
              <li><a href="www.onemonth.com">OneMonth</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
</div>
</div>  



<hr class="featurette-divider"> 
<hr class="featurette-divider">

<div class="container">
<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Food for My Neighbors &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        
<FONT size=".2"><p> Images from: </p>
<li>Marietta Johnson: By Colver Pub. House (American magazine, Volume 150) [Public domain], <a href="http://commons.wikimedia.org/wiki/File%3AMarietta_L_Johnson.jpg">via Wikimedia Commons</a></li>
<li><a href="http://www.healthylifestyledesign.org/">healthylifestyledesign.org</li>
</footer></FONT></div>
