<div class="container-full-bg" style="background-image:url('http://www.healthylifestyledesign.org/wp-content/uploads/2014/07/Fresh-Fish-Neon-Sign-624x300.jpg');">
      <div class="container special">
        <div class="jumbotron"><center>
            <h2>Education</h2>
            <p> The only way we will not repeat the same mistakes is through education and change.</p>
          </center>            
        </div>
      </div>
 </div>

   
 <hr class="featurette-divider">

<blockquote>
  <p>"Let us remember, always, that we are the consumers. By exercising free choice, by choosing what to buy, what not to buy, we have the power, collectively to change the ehtics of business of industry.  We have the potential to exert immense power for good-we each carry it with us, in our purses, checkbooks, and credit cards."</p>
  <footer>Jane Goodall, Reason for Hope</footer>
</blockquote>



 <hr class="featurette-divider">
     
    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">GMO foods, Monsanto. Checkmate. <span class="text-muted">--The biggest threat towards Monsanto is an informed consumer!</span></h2>
          <p class="lead">There is compelling information out there folks that, quite frankly, scares the boll weevils away on their own...If you haven't watched Food Inc. now is your chance. There are many more documenaries you should watch that pertain to our food supply and how it <b>directly affects YOU</b>.</p>
         </div>
        <div class="col-md-5">
          <div class="su-youtube su-responsive-media-yes"><iframe width="400" height="300" src="https://www.youtube.com/embed/yh8c9OUti4c" frameborder="0" allowfullscreen></iframe>
          </div>   
        </div>
    </div><!-- end featurette 1 -->



    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Ron Finley <span class="text-muted">--'Growing your own food is like printing your own money.'</span></h2>
          <p class="lead">Plant food, not lawns.  What's that? Using what your momma-Earth gave ya, that's what.</p> <p>*Note for Teacher's: At the end of the video Ron says "Plant some ****" and it is displayed on the screen.*</p>
          <p>Sites for you: <li>http://ronfinley.com/</li>
          <li>guerrillagardening.org</li>
          <li>TedTalks.com</li></p> 
        </div>
          <div class="col-md-5 col-md-pull-7">
            <div class="su-youtube su-responsive-media-yes"><iframe width="400" height="300" src="https://www.youtube.com/embed/EzZzZ_qpZ4w" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </div><!-- end featurette 2 -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Wicking Beds <span class="text-muted">--They'll blow your mind, not your budget.</span></h2>
          <p class="lead">Just water every 2 to 4 weeks! No, no, no....it must be a typo.  You have to see this any-type-of-container gardening to get your gardening on!</p>
        </div>
        <div class="col-md-5">
          <div class="su-youtube su-responsive-media-yes"><iframe width="400" height="300" src="http://www.youtube.com/embed/wiNoxeA2sD8" frameborder="0" allowfullscreen="true"></iframe>
          </div>
        </div>
    </div><!-- end featurette 3 -->

       
    <hr class="featurette-divider">


    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">To Your Health! <span class="text-muted">--What can you do to improve your health? Here are 10 things!</span></h2>
          <p class="lead">Take a look at Dr. Mercola's website.  He was once a practicing doctor, but then embraced natural medicine after conventional models were failing to help people.</p>
          <p>Visit his site for more information: 
          <p><iframe src='http://media.mercola.com/assets/html/mercola/citation.htm' scrolling='no' noresize='noresize' frameborder='0' allowTransparency='true' width='570' height='185'></iframe></p>
        </div>
          <div class="col-md-5 col-md-pull-6">
            <img class="featurette-image img-responsive center-block" data-src="http://www.mercola.com" _fcksavedurl="http://www.mercola.com" target="_blank"><img src="http://www.mercola.com/banners/JosephMercolaBanner-300x250.gif" _fcksavedurl="http://www.mercola.com/banners/JosephMercolaBanner-300x250.gif" border="0" /></a>"</img>
          </div>
    </div><!-- end featurette 4 -->
<hr class="featurette-divider">
<hr class="featurette-divider">    

<!--<hr class="featurette-divider"> 
    <img class="featurette-image img-responsive center-block" data-src="https://s-media-cache-ak0.pinimg.com/736x/0d/bb/60/0dbb605fa126cc5ad095416e98585123.jpg" alt="Generic placeholder image"
           
   https://lh3.googleusercontent.com/eho9Y4a5HQTrkdDfDoZs8r2sTpNbnCy_-9AKmoRQHLKdtg7QX6onLX57cP4wuCru2wSTSAPwqiO7zYy_T6aIw8G__7EH4w3BIQfQ3MNiMnjymjKu8eNVMuiv

    https://pbs.twimg.com/media/Bl9R5oZIEAAFUPQ.jpg:large>
<hr class="featurette-divider">  


<!---Start BLOG Postings -->
 <div class="col-sm-3 col-sm-offset-0 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4><strong>Food for My Neighbors: Knowledge</strong></h4>
            <p>Knowledge is key when understanding how we can return to the natural ways for our fore fathers.  They lived well without pesticides and other so called helpers.  We can and SHOULD do that as well.  Imperfect does not mean inedible, it means real.</p>

            <p>Knowledge comes in many forms, not just gardening, but also ways of DIY or doing it yourself.  We can learn from each other as we all have differing levels of skills and differing skills sets to add to our community.  Feeding each other's knowledge helps build a stronger community.</p>

            <p>What resources do you use to help you?  Internet, books, blogs, news programs, friends, neighbors, relatives? We would like to know!</p>
          </div>
          <div class="sidebar-module">
            <h4><strong>Food for your Brain!</strong></h4>
            <ol class="list-unstyled">
              <li><strong>Informational Sites</strong></li></ol>
                                     
            <li>Mother Earth News: The Original Guide to Living Wisely<a href="www.motherearthnews.com">www.motherearthnews.com</a></li></ol>
            <li>Harlequins Gardens<a href="http://www.harlequinsgardens.com">www.harlequinsgardens.com</a></li>
            </ol>
            <li>The Vegetable Gardener<a href="http://www.vegetablegardener.com">www.vegetablegardener.com</a></li>
            </ol>
            <li>Beyond Pesticides<a href="http://beyondpesticides.org">http://beyondpesticides.org</a></li>
            </ol>
            <br>

            <ol class="list-unstyled">
              <li><strong>Books of Interest</strong></li></ol>

            <li><u>Altered Genes, Twisted Truth</u> By: Steven M. Druker</li>
            <li><u>GMO-Myths-and-Truths</u>-2nd edition By: John Fagan, PhD, Michael Antoniou, PhD; Clair Robinson, MPhil</li>
            <li><u>The GMO Deception</u> Edited by Sheldon Krimsky and Jeremy Gruber</li>
            <li><u>The Biology of Belief</u> By: Bruce H. Lipton, Ph.D. ( This is the book that turned Dieter Harle - with over 40 years as professional Agriculturist, Farmer-at-Heart and Grandfather - to finally understand and see the concerns with GMO and some of the Chemical Industries convenient logic) suggestions from "http://www.panna.org/blog/how-would-you-regulate-ge-crops#comments"</li>
          </div>


  </div>        
  </div><!-- /.blog-sidebar -->

<div class="container">
  <div class="row">

   <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <h2 class="blog-post-title">Education is Power</h2>
        <p class="blog-post-meta">April 9, 2015 by Debra Mersnick</p>
            <p><strong>The education of our members is very important to me.</strong> I am, at heart, an educator.  I have had many gardens throughout my life and feel being one with nature is at our essential core.</span></p>
            <p>In this section, you will find how-to's, links, articles, and various other resources to help you grow and make items.  Please feel free to browes the selections and return often, for education is the basis of change.</p>

            <p>Please make sure all comments and posts are positive.  We strive to build and grow, not to infect and tear down.</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
   <div class="col-sm-8 blog-main">
     <div class="blog-post">
        <h2 class="blog-post-title">Pesticides Kill More than Just Pesty Weeds and Bugs</h2>
        <p class="blog-post-meta">June 27, 2015 by Debra Mersnick</p>
            <p>What did everyone use back in history before horrible pesticides were formulated?  Can we ever fully get rid of them?  Even after we stop using them, how soon with the plants, trees, and Earth in general rid itself of them?</p>

            <p>These are questions I ponder?  If I take over some land that has had pesticides applied to it, how long before I know I am eating truely organic foods?  Let us hope it is not too long.  Pesticides harm not only the bad bugs and weeds people detest, but also the good things too.  They harm us in forms we know not until it is too late.</p>
      </div>
            <!--<hr>
            <p>TEST PATTERN Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
            
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            <h2>Heading</h2>
            <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
            <h3>Sub-heading</h3>
           
            <ul>
              <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
              <li>Donec id elit non mi porta gravida at eget metus.</li>
              <li>Nulla vitae elit libero, a pharetra augue.</li>
            </ul>
            <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            <ol>
              <li>Vestibulum id ligula porta felis euismod semper.</li>
              <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
              <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
            </ol>
            <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. END TEST PATTERN.</p>
          </div><!-- /.blog-post -->
       </div>
    </div>
  </div>
</div> 

 

<!--<nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

<hr class="featurette-divider"> 
<hr class="featurette-divider">

<div class="container">
<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Food for My Neighbors &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        
<FONT size=".2"><p> Images from: </p>
<li>Marietta Johnson: By Colver Pub. House (American magazine, Volume 150) [Public domain], <a href="http://commons.wikimedia.org/wiki/File%3AMarietta_L_Johnson.jpg">via Wikimedia Commons</a></li>
<li><a href="http://www.healthylifestyledesign.org/">healthylifestyledesign.org</li>
</footer></FONT></div>
