<div class="jumbotron">
		<div class="container">
			<h2>The hunger for education, healthy foods, and a good community will never cease to exist.</h2>
			<p>Please <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>. Your food is waiting.</p>
		</div>
</div>

<div class="container marketing">
  <div class="row">
			<div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
			      <img src="..." alt="...">
			      <div class="caption">
			        <h3 class="text-center">The 'Real' Healthy Food</h3>
			        <p class="text-center">Access to healthy foods, farms, markets, and other home-grown/homemade items</p>
			        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			  </div>
			</div>
			    <div class="col-sm-6 col-md-4">
			    	<div class="thumbnail">
				      <img src="..." alt="...">
				      <div class="caption">
				        <h3 class="text-center">Education for a Better Life</h3>
				        <p class="text-center">Access to information on planting, organics, how-to's, and more!</p>
				        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      	</div>
			    	</div>
			  	</div>
					<div class="col-sm-6 col-md-4">
			    	<div class="thumbnail">
				      <img src="..." alt="...">
				      <div class="caption">
				        <h3 class="text-center">Find Your Whereabouts!</h3>
				        <p class="text-center">Find food, farms, items, right where you need them to be!</p>
				        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
				      </div>
			      </div>
		    	</div>	    
	</div>


<hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Wicking Beds. <span class="text-muted">They'll blow your mind, not your budget.</span></h2>
          <p class="lead">Just water every 2 to 4 weeks! No, no, no....it must be a typo.  You have to see this any-type-of-container gardening to get your gardening on!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Permaculture.?! <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Less work in the long run?  Using what your momma-Earth gave ya, that's what.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">GMO foods, Monsanto. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">There is compelling information out there folks that, quite frankly, scares the bowl-weevels away on their own...If you haven't watched Food Inc. now is your chance. This and more documenaries about our food supply and who is behind it all.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">


				<footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Food for My Neighbors &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      	</footer>
</div>