<h1>Food for My Neighbors</h1>
<p>Welcome to a social platform geared towards learning how to live a more sustainable life that is in tune with the Earth's nature abundance.  This site is also for sharing FoodIsFree locations, Farmer's markets, gardening tips/tricks, and other permaculture ideas.  This site owner is participating in the #FoodIsFree campaign to help our neighbors live a healtheir and more sustainable life.</p>
<p> Please Sign in HERE.</p>
<p>GET OUT, SOCIALIZE WITH YOUR NEIGHBORS, AND PLANT!</p>
