 <div class="container-full-bg" style="background-image:url('http://cf.ltkcdn.net/garden/images/slide/148994-849x565-lettuce-2.jpg');">
  <div class="container special">
      <div class="jumbotron"><center>
  <h2>The hunger for true knowledge, real foods, and a healthy community will never cease to exist.</h2>
  <p class="lead">Please <%= link_to "Sign Up", "#", class: "btn btn-primary btn-md" %>. Your food is waiting.</p></center></div>
  </div>



<div class="container marketing">
  <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="https://onlinedoctor.lloydspharmacy.com/blog/wp-content/uploads/2014/11/do-you-know-what-youre-eating.jpg" alt="Responsive image">
            <div class="caption">
              <h3 class="text-center">Education for a Better Life</h3>
                <p class="text-center">Access to information on planting, organics, non-GMO foods, how-to's, fighting the good fight, and more!</p>
                <p><center><%= link_to "Get Educated!", "#", class: "btn btn-primary" %></p></center>
              </div>     
        </div>
      </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="http://cookingcellastyle.files.wordpress.com/2012/07/pantry-bulk.jpg?w=584&h=408" alt="Responsive image">
              <div class="caption">
                 <h3 class="text-center">What's in Your Pantry?</h3>
              <p class="text-center">Searching for 'real' food in your area? Looking to go organic? Find access to healthy foods, farms, markets, and other home-grown/homemade items in the pantry.</p>
              <p><center><a href="#" class="btn btn-primary" role="button">The Pantry</a></p></center>
            </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="http://familiesunitedcm.com/wp-content/uploads/people_sunrise.jpg" alt="Responsive image" >
              <div class="caption">
                <h3 class="text-center">Building a Strong Community</h3>
                <p class="text-center">Post what you have been doing to help grow your community! Post pictures of your gardens, cookouts, and events from the small to the large.  We would LOVE to see how you are beautifying the world one neighborhood at a time!</p>
                <p><center><a href="#" class="btn btn-primary" role="button">Look What I did!</a></p></center>
              </div>
            </div>
          </div>      
  </div>

<div class="container">
<footer>
        <FONT color="white"><p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Food for My Neighbors &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        
<FONT size=".2"><p> Images from: </p>
<li><a href="http://garden.lovetoknow.com">garden.lovetoknow.com</a>
<li><a href="www.savvyvegetarian.com">savvyvegetarian.com</li>
<li><a href="http://cookingcellastyle.com/2012/07/">cookingcellastyle.com</li>
<li><a href="www.savvyvegetarian.com">savvyvegetarian.com</li>
</footer></FONT></FONT></div>