<h1>Store</h1>

<p>A place to buy and sell products that are grown, made, harvested, and treated with care and love.</p>
<p>Please read and understand all policies and rules before selling and buying.  It is imparative that all transactions be transparent and handled with the most care possible.  If a problem should result, please notify the parties involved and everyone will try their best to allieviate the issue in a fair and reasonable manner.</p>