<h1>The Pantry</h1>

<p>Growing up, the pantry was a place to find all sorts of goodies, well, unless your family also had a crawlspace where other goodies were kept, then you'd look there.  Regardless, you can look here to find various goods and services offered by good folks in good faith.</p>

<p>A place to buy and sell products that are grown, made, harvested, and treated with care and love.</p>
<p>Please read and understand all policies and rules before selling and buying.  It is imparative that all transactions be transparent and handled with the most care possible.  If a problem should result, please notify the parties involved and everyone will try their best to allieviate the issue in a fair and reasonable manner.</p>